<!-- templates/contact.html -->
{% extends "base.html" %}
{% block content %}
<section id="contact" class="contact-section" data-aos="fade-up">
  <h2 class="contact-heading" data-aos="zoom-in">Get In Touch</h2>

  <!-- Contact Details -->
  <div class="contact-info" data-aos="fade-up" data-aos-delay="200">
    <div class="info-card glow">
      <i class="fas fa-envelope"></i>
      <p><a href="mailto:bt23mme105@students.vnit.ac.in"  target="_blank">bt23mme105@students.vnit.ac.in</a></p>
    </div>
    <div class="info-card glow">
      <i class="fas fa-phone"></i>
      <p>+91 89755xxxxx</p>
    </div>
    <div class="info-card glow">
      <i class="fab fa-linkedin"></i>
      <p><a href="https://www.linkedin.com/in/adarshvarma"  target="_blank">linkedin.com/in/adarshvarma</a></p>
    </div>
  </div>

  
</section>
{% endblock %}
