{% extends 'base.html' %}
{% block content %}
<section class="hero">
    <div class="hero-text">
        <span class="badge">🚀 Ready to Innovate</span>
        <h1><span class="highlight">Data</span> Scientist</h1>
        <h1><span class="highlight">& Materials</span> Engineer</h1>
        <p>Learning... Building... Growing...</p>
        <div class="buttons">
            <a href="projects" class="btn primary">Projects</a>
            <a href="contact" class="btn secondary">Contact</a>
            <a href="contact" class="btn secondary">Resume</a>
        </div>
        <div class="skills glow">
            <span>Flask</span>
            <span>PostgreSQL</span>
            <span>SQlite</span>
        </div>
    </div>
    <div class="hero-image">
        <img src="https://static.wixstatic.com/media/2f860b_0ffada2bbaf94379b1bbb614acd1c106~mv2.gif" alt="Hero Illustration">
    </div>
</section>


{% endblock %}